body{
    /* background-color: #DFCCFB; */
    background-image: linear-gradient(#6d23dc, #d41717);
    background: fixed;
    margin: 0;
}



h1{
    text-align: center;
    font-size: 400%;
    color: #ffffff;
    
}

canvas{
  z-index: 1;
    
    
    display: inline;
    position: relative;
    
    left:0%;
    margin: 0;
}


#circleSec{
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;

}


.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

